@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

*{
    margin: 0;
    padding: 0;
    --dark-color: rgb(10, 3, 31);
    --fuschia-color: #FF00AA;
    --pink-color: rgb(225, 0, 255);
    --dark-blue-color: #152246;
    --dark-color: #03032d;
    --dark-gray-color: #2f3138;
    font-family: 'Roboto', sans-serif;
}
html{
    scroll-behavior: smooth;
}

.fuschia-color{
    color: var(--fuschia-color) !important;
}
.pink-color{
    color: var(--pink-color) !important;
}

/* MENU */

#nav{
    position: fixed;
    top: 0;
    left: 0;
    background: var(--dark-color);
    width: 100vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 15px;
    z-index: 1;
}

#nav-brand{
    color: #efefef;
    text-transform: uppercase;
    letter-spacing: 2px;
    user-select: none;
}

#nav-links{
    list-style: none;
    display: flex;
    justify-content: space-around;
    width: 40vw;
}

#nav-links a{
    color: #dedede;
    text-decoration: none;
    transition: font-size .2s ease-in;   
}

#nav-links a:hover{
    color: var(--fuschia-color);
    font-size: 1.1em;
}
#nav-links a:active{
    color: var(--pink-color);
}

#nav-menu{
    margin-right: 40px;
    padding: 5px;
    display: none;
}

#nav-menu:hover{
    cursor: pointer;
}
#nav-menu:hover .burger-line{
    background: var(--fuschia-color);
}
#nav-menu:active .burger-line{
    background: var(--pink-color);
}

.burger-line{
    background: #dedede;
    width: 30px;
    height: 3px;
    margin: 5px auto;
    transition: transform .3s ease-out;
}

@media only screen and (max-width: 728px){
    #nav-menu{
        display: block;
    }

    #nav-links{
        display: none;
    }
    
    #nav-links.menu-active{
        display: block;
        position: absolute;
        top: 60px;
        right: 0;
        background: var(--dark-color);
        height: 92vh;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        flex-direction: column;
        padding: 10px;
        animation: fadeIn .4s ease forwards;
    }
    #nav-links li{
        width: 100%;
    }

    @keyframes fadeIn{
        from{
            opacity: 0;
        }
        to{
            opacity: 1;
        }
    }

    .non-mobile{
        display: none !important;
    }
}

.menu-fuschia{
    background: var(--fuschia-color);
}

#nav-menu.menu-active div:nth-child(1) {
    transform: translateY(8px)  rotate(45deg);
}
#nav-menu.menu-active div:nth-child(2) {
    transform: rotate(-45deg);
}
#nav-menu.menu-active div:nth-child(3) {
    display: none;
}

/* MENU END */

/* MAIN HEADER */

#main-header{
    background: rgba(0,0,0, .7);
    /* width: 100vw; */
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    color: var(--fuschia-color);
    font-size: 0.8em;
}

#main-header #main-logo{
    width: 90%;
}

#main-header #main-bg{
    background: url("../img/campus.jpg");
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height: 100vh;
    position: absolute;
    z-index: -1;
}

/* MAIN HEADER END */

section{
    padding: 30px 15px;
    padding-top: 68px;
}
section p{
    font-size: 1.2em;
    margin-bottom: 10px;
}
section h2{
    letter-spacing: 4px;
    margin-bottom: 40px;
}
section a{
    text-decoration: none;
    color: var(--pink-color);
}
section a:hover{
    color: var(--fuschia-color);
}
section a:active{
    color: #eee;
}

.dark-section{
    background: var(--dark-blue-color);
    color: #ddd;
}

#location .content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

@media only screen and (min-width:678px){
    .section-group{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .section-group #about{
        background: var(--dark-color);
    }
}

#agenda table{
    margin: auto;
}

#agenda table th{
    /* border-right: var(--dark-color) solid 1px; */
    padding: 5px;
    color: var(--pink-color);
}
#agenda table td{
    font-weight: 900;
}
#agenda .th-head{
    background: var(--dark-blue-color);
    color: #ddd;
}

.white-color{
    color: white;
}

.green-color{
    color: #437d43;
}

.whatsapp {
    color: green;
    font-size: 2em;
}

.telegram{
    color: rgb(0, 140, 255);
    font-size: 2em;
}

@media only screen and (min-width: 728px){
    .mobile{
        display: none !important;
    }
}

/* google maps start */
.mapouter {
    position: relative;
    text-align: right;
    width: 95%;
}

.gmap_canvas {
    overflow: hidden;
    background: none !important;
    width: 100%;
}

#gmap_canvas {
    width: 100%;
    height: 50vh;
}
/* google maps end */